.App {
  text-align: center;
  background-color: rgb(201, 5, 5);
  min-height: 100%;
  min-width: 100%;
  margin-top: 0;
  display: grid;
  grid-template-rows: 120px 1fr 1fr 1fr 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
header {
  margin-top: 0px;
  background-color: gold;
  grid-area: 1/1/1/6;
}

nav {
  grid-area: 2/1/5/1;
  background-color: darkred;
}

body {
  height: 100vh;
  width: 100vw;
}

footer {
  margin-bottom: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(58, 58, 58);
  grid-area: 5/1/6/6;
}
.imgco img {
  margin: 7px 10px;
}

.footerstuff {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.title {
  color: blue;
  font-size: 60px;
  font-family: monospace;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-color: blue;
  -webkit-text-stroke-width: 2px;
}

.makeitfit {
  height: 400px;
  background-color: rgb(201, 5, 5);
}
.body {
  grid-area: 2/2/5/6;
  /* display: inline; */
}

.home {
  display: inline-block;
  text-align: center;
  margin: 200px;
  color: gold;
}
.text {
  font-size: large;
  color: white;
}

.pokeball {
  max-height: 35px;
}
.form {
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.formInput {
  grid-area: 2/1/4/2;
  justify-content: left;
  flex-direction: column;
  max-width: 300px;
  margin-top: 20px;
}

.formButton {
  grid-area: 4/3/4/3;
  width: 60px;
  height: 40px;
}
.input {
  margin: 25px;
  border: solid blue 4px;
  width: 250px;
  font-size: x-large;
}

.teamBuildSprites {
  grid-area: 2/3/4/5;
}
.sprite {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.team {
  text-align: left;
  background-color: gold;
  height: 50px;
  overflow-y: scroll;
}
.teamTitle {
  color: white;
  font-size: 20px;
}
.teamtext {
  font-size: x-large;
  color: white;
}
.teamViewSprites {
  margin: 20px;
  height: 25px;
  display: inline-block;
}

.credit {
  text-align: center;
  color: white;
  max-width: 200px;
}

.contacts {
}
.icon {
  margin: 10px auto;
  max-width: 35px;
  max-height: 35px;
  color: white;
  filter: invert(100%);
  grid-area: 5/4/5/5;
}

.headerLinks {
  margin: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
  border: solid blue 4px;
  display: block;
}

@media (max-width: 770px) {
  .title {
    font-size: 70px;
    font-family: Tahoma;
  }

  .headerLinks {
    margin: 20px auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: solid gold 4px;
    display: block;
  }

  .sprite {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75 px;
    height: 75px;
  }

  .teamViewSprites {
    margin: 15px;
    height: 25px;
    display: inline-block;
  }
}
