
.App {
  text-align: center;
  background-color: rgb(201, 5, 5);
  height: 100vh;
  margin-top: 0;
  display: grid;
  grid-template-rows: 120px 1fr 1fr 1fr 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.input {
  margin: 30px;   border: solid blue 4px;
  display: block;
}
header{
  margin: top 15px;
  background-color: gold;
  grid-area: 1/1/1/6;
}

nav{
 grid-area: 2/1/5/1;
 background-color: darkred   ;
}


body{
  grid-area: 2/2/4/5;
}

footer{
  background-color: rgb(58, 58, 58);
  grid-area: 5/1/6/6;
}


.title{
  color: blue;
  font-size: 60px;
  font-family:monospace;  
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-color: blue;
  -webkit-text-stroke-width: 2px;
}



.credit{
  grid-area: 5/1/5/2 ;

}
.contacts{
  grid-area: 5/5/5/6;

}

.headerLinks{
  margin: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color:white;
  text-decoration: none;
  border: solid blue 4px;
  display: block;

}